body {
    font-family: 'Hind Madurai', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

.main-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    text-align: center;
}

.main-subtitle {
    text-align: center;
    font-family: 'Lora', serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

.body-content {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.left-side {
    max-width: 300px;
}

.profile-photo {
    max-width: 300px;
}